// variables

/* COLORS */
$bg: #0b132d;
$title: #fff;
$text: #9ca8c8;
$text-dark: #6b748b;
$primary: #ef6e6e;
$section-dark: #080e21;
$card: #151c34;

/* transition delay */
$transition: 250ms;

/* test border */
$border: 1px solid yellow;

/* responsive containers */
$desktop-width: 1256px;
$tablet-big-width: 1024px;
$tablet-width: 960px;
$mobile-width: 760px;

/* padding and margin */
$padding: 0 1.25rem;
$margin-c: 0 auto;
$margin-c-b: 0 auto 8.75rem auto;
$text-c: center;

/* link active */
$active: darken($primary, 10%);

/* font size */
$font-sm: 0.875rem;
$font-m: 1rem;

// reset style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 100%;

  // @media (max-width: $tablet-big-width) {
  //   font-size: 90%;
  // }
}

body {
  background-color: $bg;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $text;
}

h1 {
  font-size: 1.25rem;
  color: $text;
}

.full-width-wrapper {
  width: 100%;
  height: 100%;
  background-color: $section-dark;
  padding: 5rem 0;
  margin-bottom: 8.75rem;
  z-index: -2;
}
