.intro {
  width: 100%;
  max-width: $desktop-width;
  padding: 6.25rem 5.25rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .intro__textBox {
    flex: 1;
    color: $title;

    .welcome {
      opacity: 0.5;
    }

    .yohan {
      font-size: 2.2rem;
    }
    .professional {
      font-size: 3.2rem;
      font-weight: 700;
      color: $primary;
      margin-top: -1rem;
    }

    .action-btn {
      border: 1px solid $text;
      padding: 1.2rem 2rem;
      border-radius: 2rem;

      &:hover {
        background-color: $primary;
        border: 1px solid $primary;
        color: $title;
      }

      &:active {
        background-color: $active;
      }
    }
  }

  img {
    flex: 1;
    width: 55%;
  }
}

@media screen and (max-width: $tablet-width) {
  .intro {
    flex-direction: column-reverse;
    padding: 3.25rem 0;

    img {
      width: 70%;
      margin: 3rem;
    }

    .intro__textBox {
      text-align: center;
    }
  }
}
