.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8.75rem;
  margin-bottom: 3.25rem;

  &.section-title-about {
    margin-top: 0;
  }

  &-deco {
    display: flex;
    justify-content: center;
    align-items: center;

    .section-name {
      margin: 0 1.25rem;
      font-size: 1rem;
      font-weight: 400;
    }

    .deco-before,
    .deco-after {
      width: 3rem;
      height: 1px;
      background-color: $text;
    }
  }

  .section-subtitle {
    color: $title;
    font-size: 1.25rem;

    span {
      font-weight: 700;
      color: $primary;
    }
  }
}
